body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Adjusted to space between content and top/bottom */
  align-items: center;
  background-color: #f3f3f3;
  transition: transform 1s ease-in-out;
}

.content {
  width: 70%;
  padding: 10px 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
}

.button {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}