body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }

  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #2a2185, #ffffff);
    background-color: #f3f3f3;
    transition: transform 1.5s ease-in-out;
  }

  .content {
    width: 70%;
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px 0px;
  }

  .button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    background-color: #2a20F0;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }

  .button:hover {
    background-color: #2a2185;
  }

  .ratingstar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }

  .ratingstar input {
    display: none;
  }

  .ratingstar label {
    cursor: pointer;
    font-size: 30px;
    color: #e1e1e1;
    margin: 0 4px;
  }

  .ratingstar label:hover,
  .ratingstar label:hover ~ label {
    color: #ffd700;
  }

  .ratingstar input:checked ~ label {
    color: #ffd700;
  }

  .rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }

  .rating input {
    display: none;
  }

  .rating label {
    cursor: pointer;
    font-size: 20px;
    color: #000;
    margin: 0px 1px;
    border: 1px solid #000;
    padding: 5px 10px;
  }

  .rating label:hover,
  .rating input:checked ~ label {
    color: #3498db;
    border-color: #3498db;
  }

    @import url("https://fonts.googleapis.com/css?family=Quicksand");

#containerrobot {
  position: absolute;
  top: 60px;
  left: 100px;
  margin-top: -0.75em;
  margin-left: -1.5em;
}
#containerrobot #bot {
  position: absolute;
  height: 30px;
  width: 50px;
  background-color: #fff;
  animation: 5s botMotion linear forwards;
}
#containerrobot #bot #eyes {
  position: absolute;
  width: 40px;
  height: 20px;
  top: 5px;
  left: 5px;
  background-color: #333;
}
#containerrobot #bot #eyes .eye {
  height: 10px;
  width: 5px;
  background-color: #3498db;
  animation: 5.6s eyeBlink 0.35s linear infinite;
  border-radius: 40%;
}
#containerrobot #bot #eyes #left {
  position: absolute;
  top: 50%;
  left: 25%;
  margin-top: -5px;
}
#containerrobot #bot #eyes #right {
  position: absolute;
  top: 50%;
  right: 25%;
  margin-top: -5px;
}
#containerrobot #bot .finger {
  position: absolute;
  height: 10px;
  width: 5px;
  background-color: #fff;
}
#containerrobot #bot #leftarm {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 25px;
}
#containerrobot #bot #leftarm .finger:nth-of-type(1) {
  animation: 5s lefttopfinger linear forwards;
}
#containerrobot #bot #leftarm .finger:nth-of-type(2) {
  animation: 5s leftbotfinger linear forwards;
}
#containerrobot #bot #rightarm {
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  width: 25px;
}
#containerrobot #bot #rightarm .finger:nth-of-type(1) {
  animation: 5s righttopfinger linear forwards;
}
#containerrobot #bot #rightarm .finger:nth-of-type(2) {
  animation: 5s rightbotfinger linear forwards;
}
#containerrobot #neck {
  position: absolute;
  top: 30px;
  width: 40px;
  height: 3px;
  background-color: #fff;
  margin-left: 5px;
  animation: 5s neckMotion linear forwards;
}
#containerrobot #body {
  position: absolute;
  top: 33px;
  width: 50px;
  height: 10px;
  background-color: #fff;
  animation: 5s bodyMotion linear forwards;
}
#containerrobot #legs {
  position: absolute;
  top: 33px;
  left: 25px;
}
#containerrobot #legs .foot {
  width: 25px;
  height: 10px;
  background-color: #fff;
}
#containerrobot #legs #left {
  position: absolute;
  top: -10px;
  left: 0;
  animation: 5s leftfoot linear forwards;
}
#containerrobot #legs #right {
  position: absolute;
  top: -10px;
  right: 0;
  animation: 5s rightfoot linear forwards;
}
@-moz-keyframes lefttopfinger {
  0% {
    left: 0;
    top: 5px;
  }
  10%, 20% {
    left: -10px;
    top: 5px;
  }
  30% {
    left: -10px;
    top: 2px;
  }
  40% {
    left: -10px;
    top: 5px;
  }
  50% {
    left: -10px;
    top: 2px;
  }
  60% {
    left: -10px;
    top: 5px;
  }
  70% {
    left: -10px;
    top: 2px;
  }
  80%, 90% {
    left: -10px;
    top: 5px;
  }
  100% {
    left: 0;
    top: 5px;
  }
}
@-webkit-keyframes lefttopfinger {
  0% {
    left: 0;
    top: 5px;
  }
  10%, 20% {
    left: -10px;
    top: 5px;
  }
  30% {
    left: -10px;
    top: 2px;
  }
  40% {
    left: -10px;
    top: 5px;
  }
  50% {
    left: -10px;
    top: 2px;
  }
  60% {
    left: -10px;
    top: 5px;
  }
  70% {
    left: -10px;
    top: 2px;
  }
  80%, 90% {
    left: -10px;
    top: 5px;
  }
  100% {
    left: 0;
    top: 5px;
  }
}
@-o-keyframes lefttopfinger {
  0% {
    left: 0;
    top: 5px;
  }
  10%, 20% {
    left: -10px;
    top: 5px;
  }
  30% {
    left: -10px;
    top: 2px;
  }
  40% {
    left: -10px;
    top: 5px;
  }
  50% {
    left: -10px;
    top: 2px;
  }
  60% {
    left: -10px;
    top: 5px;
  }
  70% {
    left: -10px;
    top: 2px;
  }
  80%, 90% {
    left: -10px;
    top: 5px;
  }
  100% {
    left: 0;
    top: 5px;
  }
}
@keyframes lefttopfinger {
  0% {
    left: 0;
    top: 5px;
  }
  10%, 20% {
    left: -10px;
    top: 5px;
  }
  30% {
    left: -10px;
    top: 2px;
  }
  40% {
    left: -10px;
    top: 5px;
  }
  50% {
    left: -10px;
    top: 2px;
  }
  60% {
    left: -10px;
    top: 5px;
  }
  70% {
    left: -10px;
    top: 2px;
  }
  80%, 90% {
    left: -10px;
    top: 5px;
  }
  100% {
    left: 0;
    top: 5px;
  }
}
@-moz-keyframes leftbotfinger {
  0% {
    left: 0;
    bottom: 5px;
  }
  10%, 20% {
    left: -10px;
    bottom: 5px;
  }
  30% {
    left: -10px;
    bottom: 2px;
  }
  40% {
    left: -10px;
    bottom: 5px;
  }
  50% {
    left: -10px;
    bottom: 2px;
  }
  60% {
    left: -10px;
    bottom: 5px;
  }
  70% {
    left: -10px;
    bottom: 2px;
  }
  80%, 90% {
    left: -10px;
    bottom: 5px;
  }
  100% {
    left: 0;
    bottom: 5px;
  }
}
@-webkit-keyframes leftbotfinger {
  0% {
    left: 0;
    bottom: 5px;
  }
  10%, 20% {
    left: -10px;
    bottom: 5px;
  }
  30% {
    left: -10px;
    bottom: 2px;
  }
  40% {
    left: -10px;
    bottom: 5px;
  }
  50% {
    left: -10px;
    bottom: 2px;
  }
  60% {
    left: -10px;
    bottom: 5px;
  }
  70% {
    left: -10px;
    bottom: 2px;
  }
  80%, 90% {
    left: -10px;
    bottom: 5px;
  }
  100% {
    left: 0;
    bottom: 5px;
  }
}
@-o-keyframes leftbotfinger {
  0% {
    left: 0;
    bottom: 5px;
  }
  10%, 20% {
    left: -10px;
    bottom: 5px;
  }
  30% {
    left: -10px;
    bottom: 2px;
  }
  40% {
    left: -10px;
    bottom: 5px;
  }
  50% {
    left: -10px;
    bottom: 2px;
  }
  60% {
    left: -10px;
    bottom: 5px;
  }
  70% {
    left: -10px;
    bottom: 2px;
  }
  80%, 90% {
    left: -10px;
    bottom: 5px;
  }
  100% {
    left: 0;
    bottom: 5px;
  }
}
@keyframes leftbotfinger {
  0% {
    left: 0;
    bottom: 5px;
  }
  10%, 20% {
    left: -10px;
    bottom: 5px;
  }
  30% {
    left: -10px;
    bottom: 2px;
  }
  40% {
    left: -10px;
    bottom: 5px;
  }
  50% {
    left: -10px;
    bottom: 2px;
  }
  60% {
    left: -10px;
    bottom: 5px;
  }
  70% {
    left: -10px;
    bottom: 2px;
  }
  80%, 90% {
    left: -10px;
    bottom: 5px;
  }
  100% {
    left: 0;
    bottom: 5px;
  }
}
@-moz-keyframes righttopfinger {
  0% {
    right: 0;
    top: 5px;
  }
  10%, 20% {
    right: -10px;
    top: 5px;
  }
  30% {
    right: -10px;
    top: 2px;
  }
  40% {
    right: -10px;
    top: 5px;
  }
  50% {
    right: -10px;
    top: 2px;
  }
  60% {
    right: -10px;
    top: 5px;
  }
  70% {
    right: -10px;
    top: 2px;
  }
  80%, 90% {
    right: -10px;
    top: 5px;
  }
  100% {
    right: 0;
    top: 5px;
  }
}
@-webkit-keyframes righttopfinger {
  0% {
    right: 0;
    top: 5px;
  }
  10%, 20% {
    right: -10px;
    top: 5px;
  }
  30% {
    right: -10px;
    top: 2px;
  }
  40% {
    right: -10px;
    top: 5px;
  }
  50% {
    right: -10px;
    top: 2px;
  }
  60% {
    right: -10px;
    top: 5px;
  }
  70% {
    right: -10px;
    top: 2px;
  }
  80%, 90% {
    right: -10px;
    top: 5px;
  }
  100% {
    right: 0;
    top: 5px;
  }
}
@-o-keyframes righttopfinger {
  0% {
    right: 0;
    top: 5px;
  }
  10%, 20% {
    right: -10px;
    top: 5px;
  }
  30% {
    right: -10px;
    top: 2px;
  }
  40% {
    right: -10px;
    top: 5px;
  }
  50% {
    right: -10px;
    top: 2px;
  }
  60% {
    right: -10px;
    top: 5px;
  }
  70% {
    right: -10px;
    top: 2px;
  }
  80%, 90% {
    right: -10px;
    top: 5px;
  }
  100% {
    right: 0;
    top: 5px;
  }
}
@keyframes righttopfinger {
  0% {
    right: 0;
    top: 5px;
  }
  10%, 20% {
    right: -10px;
    top: 5px;
  }
  30% {
    right: -10px;
    top: 2px;
  }
  40% {
    right: -10px;
    top: 5px;
  }
  50% {
    right: -10px;
    top: 2px;
  }
  60% {
    right: -10px;
    top: 5px;
  }
  70% {
    right: -10px;
    top: 2px;
  }
  80%, 90% {
    right: -10px;
    top: 5px;
  }
  100% {
    right: 0;
    top: 5px;
  }
}
@-moz-keyframes rightbotfinger {
  0% {
    right: 0;
    bottom: 5px;
  }
  10%, 20% {
    right: -10px;
    bottom: 5px;
  }
  30% {
    right: -10px;
    bottom: 2px;
  }
  40% {
    right: -10px;
    bottom: 5px;
  }
  50% {
    right: -10px;
    bottom: 2px;
  }
  60% {
    right: -10px;
    bottom: 5px;
  }
  70% {
    right: -10px;
    bottom: 2px;
  }
  80%, 90% {
    right: -10px;
    bottom: 5px;
  }
  100% {
    right: 0;
    bottom: 5px;
  }
}
@-webkit-keyframes rightbotfinger {
  0% {
    right: 0;
    bottom: 5px;
  }
  10%, 20% {
    right: -10px;
    bottom: 5px;
  }
  30% {
    right: -10px;
    bottom: 2px;
  }
  40% {
    right: -10px;
    bottom: 5px;
  }
  50% {
    right: -10px;
    bottom: 2px;
  }
  60% {
    right: -10px;
    bottom: 5px;
  }
  70% {
    right: -10px;
    bottom: 2px;
  }
  80%, 90% {
    right: -10px;
    bottom: 5px;
  }
  100% {
    right: 0;
    bottom: 5px;
  }
}
@-o-keyframes rightbotfinger {
  0% {
    right: 0;
    bottom: 5px;
  }
  10%, 20% {
    right: -10px;
    bottom: 5px;
  }
  30% {
    right: -10px;
    bottom: 2px;
  }
  40% {
    right: -10px;
    bottom: 5px;
  }
  50% {
    right: -10px;
    bottom: 2px;
  }
  60% {
    right: -10px;
    bottom: 5px;
  }
  70% {
    right: -10px;
    bottom: 2px;
  }
  80%, 90% {
    right: -10px;
    bottom: 5px;
  }
  100% {
    right: 0;
    bottom: 5px;
  }
}
@keyframes rightbotfinger {
  0% {
    right: 0;
    bottom: 5px;
  }
  10%, 20% {
    right: -10px;
    bottom: 5px;
  }
  30% {
    right: -10px;
    bottom: 2px;
  }
  40% {
    right: -10px;
    bottom: 5px;
  }
  50% {
    right: -10px;
    bottom: 2px;
  }
  60% {
    right: -10px;
    bottom: 5px;
  }
  70% {
    right: -10px;
    bottom: 2px;
  }
  80%, 90% {
    right: -10px;
    bottom: 5px;
  }
  100% {
    right: 0;
    bottom: 5px;
  }
}
@-moz-keyframes leftfoot {
  0% {
    top: 0;
  }
  10%, 20% {
    top: 0;
  }
  30% {
    top: 12px;
  }
  40% {
    top: 0;
  }
  50% {
    top: 12px;
  }
  60% {
    top: 0;
  }
  70% {
    top: 12px;
  }
  80%, 90%, 100% {
    top: 0;
  }
}
@-webkit-keyframes leftfoot {
  0% {
    top: 0;
  }
  10%, 20% {
    top: 0;
  }
  30% {
    top: 12px;
  }
  40% {
    top: 0;
  }
  50% {
    top: 12px;
  }
  60% {
    top: 0;
  }
  70% {
    top: 12px;
  }
  80%, 90%, 100% {
    top: 0;
  }
}
@-o-keyframes leftfoot {
  0% {
    top: 0;
  }
  10%, 20% {
    top: 0;
  }
  30% {
    top: 12px;
  }
  40% {
    top: 0;
  }
  50% {
    top: 12px;
  }
  60% {
    top: 0;
  }
  70% {
    top: 12px;
  }
  80%, 90%, 100% {
    top: 0;
  }
}
@keyframes leftfoot {
  0% {
    top: 0;
  }
  10%, 20% {
    top: 0;
  }
  30% {
    top: 12px;
  }
  40% {
    top: 0;
  }
  50% {
    top: 12px;
  }
  60% {
    top: 0;
  }
  70% {
    top: 12px;
  }
  80%, 90%, 100% {
    top: 0;
  }
}
@-moz-keyframes rightfoot {
  0% {
    top: 0;
  }
  10%, 20%, 30% {
    top: 0;
  }
  40% {
    top: 12px;
  }
  50% {
    top: 0;
  }
  60% {
    top: 12px;
  }
  70%, 80%, 90%, 100% {
    top: 0;
  }
}
@-webkit-keyframes rightfoot {
  0% {
    top: 0;
  }
  10%, 20%, 30% {
    top: 0;
  }
  40% {
    top: 12px;
  }
  50% {
    top: 0;
  }
  60% {
    top: 12px;
  }
  70%, 80%, 90%, 100% {
    top: 0;
  }
}
@-o-keyframes rightfoot {
  0% {
    top: 0;
  }
  10%, 20%, 30% {
    top: 0;
  }
  40% {
    top: 12px;
  }
  50% {
    top: 0;
  }
  60% {
    top: 12px;
  }
  70%, 80%, 90%, 100% {
    top: 0;
  }
}
@keyframes rightfoot {
  0% {
    top: 0;
  }
  10%, 20%, 30% {
    top: 0;
  }
  40% {
    top: 12px;
  }
  50% {
    top: 0;
  }
  60% {
    top: 12px;
  }
  70%, 80%, 90%, 100% {
    top: 0;
  }
}
@-moz-keyframes botMotion {
  0%, 10% {
    top: 0;
  }
  20%, 80% {
    top: -13px;
  }
  90%, 100% {
    top: 0;
  }
}
@-webkit-keyframes botMotion {
  0%, 10% {
    top: 0;
  }
  20%, 80% {
    top: -13px;
  }
  90%, 100% {
    top: 0;
  }
}
@-o-keyframes botMotion {
  0%, 10% {
    top: 0;
  }
  20%, 80% {
    top: -13px;
  }
  90%, 100% {
    top: 0;
  }
}
@keyframes botMotion {
  0%, 10% {
    top: 0;
  }
  20%, 80% {
    top: -13px;
  }
  90%, 100% {
    top: 0;
  }
}
@-moz-keyframes neckMotion {
  0%, 10% {
    top: 30px;
  }
  20%, 80% {
    top: 17px;
  }
  90%, 100% {
    top: 30px;
  }
}
@-webkit-keyframes neckMotion {
  0%, 10% {
    top: 30px;
  }
  20%, 80% {
    top: 17px;
  }
  90%, 100% {
    top: 30px;
  }
}
@-o-keyframes neckMotion {
  0%, 10% {
    top: 30px;
  }
  20%, 80% {
    top: 17px;
  }
  90%, 100% {
    top: 30px;
  }
}
@keyframes neckMotion {
  0%, 10% {
    top: 30px;
  }
  20%, 80% {
    top: 17px;
  }
  90%, 100% {
    top: 30px;
  }
}
@-moz-keyframes bodyMotion {
  0%, 10% {
    top: 33px;
  }
  20%, 80% {
    top: 20px;
  }
  90%, 100% {
    top: 33px;
  }
}
@-webkit-keyframes bodyMotion {
  0%, 10% {
    top: 33px;
  }
  20%, 80% {
    top: 20px;
  }
  90%, 100% {
    top: 33px;
  }
}
@-o-keyframes bodyMotion {
  0%, 10% {
    top: 33px;
  }
  20%, 80% {
    top: 20px;
  }
  90%, 100% {
    top: 33px;
  }
}
@keyframes bodyMotion {
  0%, 10% {
    top: 33px;
  }
  20%, 80% {
    top: 20px;
  }
  90%, 100% {
    top: 33px;
  }
}
@-moz-keyframes eyeBlink {
  0%, 10% {
    background-color: #3498db;
  }
  15% {
    background-color: #333;
  }
  20%, 50%, 80% {
    background-color: #3498db;
  }
  85% {
    background-color: #333;
  }
  90%, 100% {
    background-color: #3498db;
  }
}
@-webkit-keyframes eyeBlink {
  0%, 10% {
    background-color: #3498db;
  }
  15% {
    background-color: #333;
  }
  20%, 50%, 80% {
    background-color: #3498db;
  }
  85% {
    background-color: #333;
  }
  90%, 100% {
    background-color: #3498db;
  }
}
@-o-keyframes eyeBlink {
  0%, 10% {
    background-color: #3498db;
  }
  15% {
    background-color: #333;
  }
  20%, 50%, 80% {
    background-color: #3498db;
  }
  85% {
    background-color: #333;
  }
  90%, 100% {
    background-color: #3498db;
  }
}
@keyframes eyeBlink {
  0%, 10% {
    background-color: #3498db;
  }
  15% {
    background-color: #333;
  }
  20%, 50%, 80% {
    background-color: #3498db;
  }
  85% {
    background-color: #333;
  }
  90%, 100% {
    background-color: #3498db;
  }
}
