@font-face {
    font-family: 'Sora';
    src: url('/font/Sora-Bold.ttf') format('truetype');
    src: url('/font/Sora-ExtraBold.ttf') format('truetype');
    src: url('/font/Sora-ExtraLight.ttf') format('truetype');
    src: url('/font/Sora-Light.ttf') format('truetype');
    src: url('/font/Sora-Medium.ttf') format('truetype');
    src: url('/font/Sora-Regular.ttf') format('truetype');
    src: url('/font/Sora-SemiBold.ttf') format('truetype');
    src: url('/font/Sora-Thin.ttf') format('truetype');
}

body {
    font-family: "Sora Regular", sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #2a2185, #ffffff);
    background-size: cover;
}

body::-webkit-scrollbar {
    display: none;
}

.pattern-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/images/gplay.png'); /* Pattern image */
    opacity: 0.2; /* Adjust the opacity of the pattern overlay */
    z-index: 0;
    pointer-events: none;
}
.your-aitools {
    margin: 50px 0 0 80px;
    padding: 0 0 0 0;
    background: #f0f0f0;
    display: inline-block;
    border-radius: 20px;
    width: auto;
}
.your-aitools-title {
    font-family: "Sora Bold", sans-serif;
    font-size: 40px;
    color: #333;
    text-shadow: 2px 2px 4px #f0f0f0;
    margin: 40px 0 0 40px;
}
.message {
    font-family: "Sora SemiBold", sans-serif;
    font-size: 27px;
    color: #333;
    margin: 40px 40px 20px 60px;
}
.your-aitools-container{
    margin: 0 40px 40px 0;
}
.your-aitools-container p {
    font-family: "Sora Regular", sans-serif;
    font-size: 25px;
    color: #333;
    margin: 0 0 0 60px;
}

.survey-responses {
    margin: 0 0 120px 0;
    padding: 0 0 0 0;
}
.survey-responses-title {
    font-family: "Sora Bold", sans-serif;
    font-size: 52px;
    color: #f0f0f0;
    text-shadow: 2px 2px 4px #333;
    margin: 0 0 0 120px;
}
.radar-section {

}

.radar{
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: center;
}

.radar-section-description-global {
    padding: 70px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.radar-section-description1{
    font-family: "Sora SemiBold", sans-serif;
    font-size: 35px;
    color: #f0f0f0;
    margin: 0 20px 0 20px;
    text-align: center;
}
.radar-section-description2{
    font-family: "Sora SemiBold", sans-serif;
    font-size: 32px;
    color: #333;
    margin: 0 20px 0 20px;
    text-align: center;
}
.radar-section-description3{
    font-family: "Sora SemiBold", sans-serif;
    font-size: 27px;
    color: #333;
    margin: 0 20px 0 20px;
    text-align: center;
}

footer {
     font-family: "Sora Regular", sans-serif;
     font-weight: 400;
     background: #333;
     color: #fff;
     text-align: center;
     margin-top: -50px;
     font-size: 16px;
}

#mainBase {
    margin-top: 80px;
    flex: 1;
    padding-bottom: 150px;
}
.containerBase {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
#content-wrapBase {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.radarChart {
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
}

.chart {
    margin: 20px;
}

svg {
    margin: 0 0 0 0;
}

text {
    font-size: 12px;
    text-anchor: middle;
    fill: #333; /* Text color */
}


.legend {
    font-family: "Sora SemiBold", sans-serif;
    fill: #333333;
}

.tooltip {
    fill: #333333;
}