<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>AI Landing Page</title>
<link rel="stylesheet" href="/static/css/styleHome.css">
</head>
<body>
<div class="container">
  <main>
      <nav>
          <img src="#" class="logo">
      </nav>
      <div class="content">
          <h1>AI Tools Advisor</h1>
          <a href="/chart1">Welcome</a>
      </div>
      <video autoplay loop muted playsinline class="back-video">
          <source src="/static/images/video.mp4" type="video/mp4">
      </video>
  </main>
</div>
</body>
</html>
