<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/page3.css">
  <title>Survey - Page 3</title>
</head>
<body>
    <form method="post" action="/page3">
      <div class="container">

        <div id="containerrobot">
          <div id="bot">
            <div id="eyes">
              <div id="left" class="eye"></div>
              <div id="right" class="eye"></div>
            </div>
            <div id="leftarm">
              <div class="finger"></div>
              <div class="finger"></div>
            </div>
            <div id="rightarm">
              <div class="finger"></div>
              <div class="finger"></div>
            </div>
          </div>
          <div id="neck"></div>
          <div id="body"></div>
          <div id="legs">
            <div id="left" class="foot"></div>
            <div id="right" class="foot"></div>
          </div>
        </div>

        <div class="content">
          <h2>Survey Question 7</h2>
          <p>How much are you willing to spend in AI tools?</p>
          <label><input type="radio" name="spending" value="free"> 0$ (Free)</label>
          <label><input type="radio" name="spending" value="1-10"> 1$ - 10$</label>
          <label><input type="radio" name="spending" value="11-50"> 11$ - 50$</label>
          <label><input type="radio" name="spending" value="51-200"> 51$ - 200$</label>
          <label><input type="radio" name="spending" value="200+"> + 200$</label>
        </div>

        <div class="content">
          <h2>Survey Question 8</h2>
          <p>In which way are you expecting these tools to help you?</p>
          <label><input type="checkbox" name="expectations" value="Profiling and prediction"> Profiling and prediction</label><br>
          <label><input type="checkbox" name="expectations" value="Assessment and evaluation"> Assessment and evaluation</label><br>
          <label><input type="checkbox" name="expectations" value="personalisation"> Personalisation</label><br>
          <label><input type="checkbox" name="expectations" value="Intelligent tutoring systems"> Intelligent tutoring systems</label><br>
        </div>

        <div class="content">
          <h2>Survey Question 9</h2>
          <p>In what manners would you use AI tools?</p>
          <label><input type="radio" name="usage_manner" value="personal"> Personal</label><br>
          <label><input type="radio" name="usage_manner" value="professional"> Professional</label><br>
          <label><input type="radio" name="usage_manner" value="both"> Both</label><br>
        </div>

        <button type="button" class="button" onclick="navigateToPage('{{ url_for('page4') }}')">Next</button>
      </div>
    </form>
  <script>
    function navigateToPage(page) {
        document.querySelector('.container').style.transform = 'translateX(-100%)';
        setTimeout(function () {
            // Manually submit the form before redirecting
            document.querySelector('form').submit();
        }, 1000);
    }
  </script>
</body>
</html>

