<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/welcome.css">
  <title>Welcome to the Survey</title>
</head>
<body>
    <form action="/page1" method="get">
      <div class="container">
        <div class="content">
          <h2>Welcome to the Survey</h2>
          <p>We appreciate your participation. Click the button below to start the survey.</p>
          <button type="button" class="button" onclick="navigateToPage('{{ url_for('page1') }}')">Start Survey</button>
        </div>
      </div>
    </form>
  <script>
    function navigateToPage(page) {
        document.querySelector('.container').style.transform = 'translateX(-100%)';
        setTimeout(function () {
            // Manually submit the form before redirecting
            document.querySelector('form').submit();
        }, 1000);
    }
</script>

</body>
</html>
